.app__footeroverlay {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 350px;
}

.app__footer-packages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__footeroverlay-dash {
    width: 65px;
    height: 1px;
    background-color: aquamarine;
    margin-top: 9px;
    margin-left: 30px;
}

.app__footeroverlay-price {
    margin-left: 35px;
}

.app__footeroverlay-tags {
    width: 150px;
    margin-top: 1rem;
    /* font-size: 15px; */
}

.app__footeroverlay-items {
    color: cornflowerblue;
    font-size: 30px;
}